<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード入力ミスが多発し、アカウントがロックされました。</p>

<p>下記リンクより、アカウントロックを解除できます。</p>

<p><%= link_to 'アカウントロック解除', unlock_url(@resource, unlock_token: @token) %></p>

<p>もし身に覚えがない場合、アカウントのっとりを防ぐため、より複雑なパスワードへの変更をお薦めいたします。</p>
